<ion-view>
  <ion-content data-tap-disabled="true" class="has-header-transparent">
     <leaflet id="mainMap" defaults="map.defaults" lf-center="map.center" ng-if="check">
       <div class="searchbox">
         <label class="item item-input">
           <input type="text" placeholder="Search point...">
         </label>
       </div>
     </leaflet>
  </ion-content>
  <ion-content data-tap-disabled="true" class="dataModal padding {{dataModal}}" scroll="false">

    <h1>TEST</h1>
    <h2>test</h2>
    <p>
      Test test
    </p>

  </ion-content>
</ion-view>
